//COLORES

$colorF-L: rgb(214, 255, 214); //color formulario y enlaces de logos
$colorNavV: yellowgreen; //color navbar y background video
$color1T: #1da51d; //color1 titulos de secciones
$color2T: white; //color2 titulos de secciones
$colorC: rgba(0, 0, 0, 0.3); //color de las letras dentro del carousel
