@import 'encabezado';
@import 'delivery';
@import 'publicidad';
@import 'variables';

.container {
  margin: 0;
  padding: 0;
}

.contacto__logoInstagram img {
  width: 38px;
}

.secciones__delivery--imagenes {
  display: flex;
  flex-direction: column;
}

.secciones__quienesSomos,
.secciones__contacto,
.secciones__productos,
footer {
  margin: 0px 20px 20px 20px;
}

.secciones__productos {
  margin-bottom: 90px;
}

.secciones__quienesSomos--cajaVideo {
  display: flex;
  justify-content: center;
  margin: 0px 20px 20px 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video,
textarea {
  width: 100%;
}

container-fluid {
  display: flex;
  justify-content: center;
}

.secciones__contacto--logoFacebook {
  margin-right: 3px;
}
.secciones__contacto--lista {
  list-style: none;
  padding: 0;
  margin-left: 2em;
}

.secciones__contacto--lista li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.secciones__contacto--lista a {
  text-decoration: none;
}

.secciones__contacto--logoWhatsApp {
  display: inline;
}

.secciones__contacto--logo1 img {
  width: 38px;
}

.secciones__contacto--logoInstagram img {
  width: 38px;
}

.secciones__contacto--logoFacebook {
  display: inline;
}

.secciones__contacto--logoFacebook img {
  width: 38px;
}

div.productos:hover,
.secciones__productos--imagenes:hover {
  transform: scale(1, 1.1);
}

h3 {
  margin: 20px;
  font-style: italic;
  text-align: center;
}

h1,
.secciones__delivery--titulo {
  font-style: italic;
  width: 220px;
  background-image: linear-gradient(45deg, $color1T, $color2T, $color1T 200px);
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.secciones__productos--imagenes,
.grilla__imagenes .secciones__delivery--grilla {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secciones__productos--nombre {
  display: flex;
  justify-content: center;
  margin: 5px 0px 20px 5px;
}

.secciones__productos--grilla {
  grid-template-columns: 1fr;
  grid-auto-rows: 250px;
  grid-gap: 65px;
}

.secciones__quienesSomos--cajaVideo--video {
  margin-top: 20px;
  background-color: $colorNavV;
  padding: 15px;
  border-radius: 10%;
}

.secciones__quienesSomos--titulo,
.secciones__productos--titulo,
.secciones__delivery--titulo,
.secciones__contacto--titulo,
.piedepagina__titulo {
  display: flex;
  justify-content: center;
  margin: 30px 0px 20px 0px;
  font-size: 30px;
}

.secciones__contacto--alineacion,
.secciones__quienesSomos--alineacion,
.secciones__productos--alineacion,
.secciones__delivery--alineacion {
  display: flex;
  justify-content: center;
}

.pieDePagina {
  display: flex;
  justify-content: center;
}

.pieDePagina__formulario {
  border: solid;
  padding: 20px;
  background-color: $colorF-L;
}

.pieDePagina__titulo--secundario {
  margin: 0px;
}

.secciones__quienesSomos--titulo {
  font-size: 26px;
}

.secciones__quienesSomos--descripcion {
  text-align: justify;
}

.secciones__delivery {
  margin: 0px 20px 20px 20px;
}

/* MOBILE */

.carouselMobile {
  width: 50%;
  margin: 0 auto;
}

.carouselName {
  font-size: 1rem;
  background-color: $colorC;
  border-radius: 50%;
}

.piedepagina__titulo-secundario {
  text-align: left;
}

@for $i from 1 through 3 {
  .secciones__contacto--logo#{$i} {
    width: 38px;
    margin-right: 10px;
  }
}

$redes: (
  logoW: $colorF-L,
  logoI: $colorF-L,
  logoF: $colorF-L,
);

@each $logo, $color in $redes {
  a.secciones__contacto--#{$logo} {
    background-color: $color;
  }
}

@media screen and (min-width: 576px) {
  .barraInicio .navBar {
    flex-direction: row;
  }

  .secciones__quienesSomos--cajaVideo--video {
    width: 400px;
  }

  .secciones__delivery--grilla {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    min-height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3.secciones__delivery--zona {
    font-size: 1em;
    margin: 20px 0px;
  }

  .barraInicio li {
    border-right: 1px solid black;
  }

  .nombreEncabezados {
    display: flex;
    justify-content: center;
    margin: 30px 0px 20px 0px;
  }

  h2 {
    text-align: center;
  }

  .cajaVideo {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .secciones__productos--grilla {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin: 0px 20px;
  }

  .secciones__quienesSomos--cajaVideo--video {
    width: 400px;
  }

  .nav-link {
    font-weight: bold;
    border-right: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.24rem;
    padding-left: 0.2rem;
  }
}

@media screen and (min-width: 993px) {
  .encabezado {
    justify-content: flex-start;
  }

  .secciones__contacto--alineacion,
  .secciones__quienesSomos--alineacion,
  .secciones__productos--alineacion,
  .secciones__delivery--alineacion {
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.24rem;
    padding-left: 0.2rem;
  }

  .nav-link {
    font-weight: bold;
    border-right: 1px solid black;
  }
  .secciones__productos--grilla {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }

  .barraInicio li a {
    text-align: center;
  }

  .cajaVideo {
    display: flex;
    justify-content: center;
  }

  .nombreEncabezados {
    justify-content: flex-start;
    margin: 30px 0px 20px 0px;
  }

  .secciones__quienesSomos--titulo-secundario {
    text-align: left;
  }

  .secciones__quienesSomos--cajaVideo--video {
    width: 400px;
  }
}
