@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");
.encabezado {
  background-image: url("imagenes/hojas.jpg");
  background-size: fixed;
  background-position: center;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.encabezado .encabezado__logo {
  width: 190px;
  height: auto;
  border-radius: 50%;
}

.navbar {
  background-color: greenyellow;
}

.navbar-brand {
  font-weight: bold;
  border-right: 1px solid black;
  padding-right: 20px;
  margin: 0px;
  border-right: none;
}

.nav-link {
  font-weight: bold;
}

.dropdown-menu {
  background-color: greenyellow;
  border: none;
}

.secciones__delivery--grilla {
  grid-template-columns: 1fr;
  grid-gap: 65px;
  justify-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes titilar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animacion {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: titilar;
}

.secciones__contacto--publicidad {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
  border: solid;
  padding: 5px;
  border-style: double;
  border-radius: 10%;
  font-weight: bold;
  text-align: center;
  width: 8rem;
}

.container2 {
  width: 90%;
  margin: 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin: auto;
}

.item {
  background-color: #fff;
  transition: all 300ms;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  border-radius: 10%;
}

.item-text__nombres {
  margin: 5px;
}

.item::after {
  content: "";
  background-color: rgba(179, 229, 252, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.item:hover:after {
  opacity: 1;
  transform: scale(1);
}

.item:hover {
  transform: scale(1.05);
}

.item-img {
  max-width: 100%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  display: block;
}

@media screen and (min-width: 590px) {
  .container2 {
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
}
@media screen and (min-width: 993px) {
  .container2 {
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
  }
}
.pieDePagina__formulario {
  background-image: url("imagenes/hojas.jpg");
}

.pieDePagina__formulario--datos--nombre,
.pieDePagina__formulario--datos--apellido,
.pieDePagina__formulario--datos--email {
  font-weight: bold;
  background-color: greenyellow;
  width: 4.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-style: ridge;
  border-radius: 8%;
  border-color: black;
}

.pieDePagina__titulo--secundario {
  background-color: greenyellow;
  font-weight: bold;
  width: 20rem;
  border-style: ridge;
  border-radius: 8%;
  border-color: black;
}

.pieDePagina__formulario--datos--civil {
  font-weight: bold;
  background-color: greenyellow;
}

.pieDePagina__formulario--botones--reset,
.pieDePagina__formulario--botones--send {
  font-weight: bold;
  background-color: greenyellow;
  width: 10rem;
}

.pieDePagina__caja--titulo---secundario {
  display: flex;
  justify-content: center;
}

.pieDePagina__input {
  border-block-color: black;
}

.pieDePagina__formulario--notificaciones {
  background-color: greenyellow;
  margin-top: 0.5rem;
  width: 25rem;
}

.pieDePagina__formulario--comentarios {
  border-style: inset;
}

.container {
  margin: 0;
  padding: 0;
}

.contacto__logoInstagram img {
  width: 38px;
}

.secciones__delivery--imagenes {
  display: flex;
  flex-direction: column;
}

.secciones__quienesSomos,
.secciones__contacto,
.secciones__productos,
footer {
  margin: 0px 20px 20px 20px;
}

.secciones__productos {
  margin-bottom: 30px;
}

.secciones__quienesSomos--cajaVideo {
  display: flex;
  justify-content: center;
  margin: 0px 20px 20px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video,
textarea {
  width: 100%;
}

container-fluid {
  display: flex;
  justify-content: center;
}

.secciones__contacto--logoFacebook {
  margin-right: 3px;
}

.secciones__contacto--lista {
  list-style: none;
  padding: 0;
  margin-left: 2em;
}

.secciones__contacto--lista li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.secciones__contacto--lista a {
  text-decoration: none;
}

.secciones__contacto--logoWhatsApp {
  display: inline;
}

.secciones__contacto--logo1 img {
  width: 38px;
}

.secciones__contacto--logoInstagram img {
  width: 38px;
}

.secciones__contacto--logoFacebook {
  display: inline;
}

.secciones__contacto--logoFacebook img {
  width: 38px;
}

div.productos:hover,
.secciones__productos--imagenes:hover {
  transform: scale(1, 1.1);
}

h3 {
  margin: 20px;
  font-style: italic;
  text-align: center;
}

h1,
.secciones__delivery--titulo {
  font-style: italic;
  width: 220px;
  background-image: linear-gradient(45deg, #1da51d, white, #1da51d 200px);
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.secciones__productos--imagenes,
.grilla__imagenes .secciones__delivery--grilla {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secciones__productos--nombre {
  display: flex;
  justify-content: center;
  margin: 5px 0px 20px 5px;
}

.secciones__productos--grilla {
  grid-template-columns: 1fr;
  grid-auto-rows: 250px;
  grid-gap: 65px;
}

.secciones__productos--enlaceProductos {
  margin-left: 20px;
}

.secciones__quienesSomos--cajaVideo--video {
  margin-top: 20px;
  background-color: yellowgreen;
  padding: 15px;
  border-radius: 10%;
}

.secciones__quienesSomos--titulo,
.secciones__productos--titulo,
.secciones__delivery--titulo,
.secciones__contacto--titulo,
.piedepagina__titulo {
  display: flex;
  justify-content: center;
  margin: 30px 0px 20px 0px;
  font-size: 30px;
}

.secciones__contacto--alineacion,
.secciones__quienesSomos--alineacion,
.secciones__productos--alineacion,
.secciones__delivery--alineacion {
  display: flex;
  justify-content: center;
}

.pieDePagina {
  display: flex;
  justify-content: center;
}

.pieDePagina__formulario {
  border: solid;
  padding: 20px;
  background-color: #d6ffd6;
}

.pieDePagina__titulo--secundario {
  margin: 0px;
}

.secciones__quienesSomos--titulo {
  font-size: 26px;
}

.secciones__quienesSomos--descripcion {
  text-align: justify;
}

.secciones__delivery {
  margin: 0px 20px 20px 20px;
}

::-webkit-scrollbar {
  background-color: #d0ff89;
}

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 10px;
}

/* MOBILE */
.carouselMobile {
  width: 50%;
  margin: 0 auto;
}

.carouselName {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.piedepagina__titulo-secundario {
  text-align: left;
}

.secciones__contacto--logo1 {
  width: 38px;
  margin-right: 10px;
}

.secciones__contacto--logo2 {
  width: 38px;
  margin-right: 10px;
}

.secciones__contacto--logo3 {
  width: 38px;
  margin-right: 10px;
}

a.secciones__contacto--logoW {
  background-color: #d6ffd6;
}

a.secciones__contacto--logoI {
  background-color: #d6ffd6;
}

a.secciones__contacto--logoF {
  background-color: #d6ffd6;
}

@media screen and (min-width: 576px) {
  .barraInicio .navBar {
    flex-direction: row;
  }

  .secciones__quienesSomos--cajaVideo--video {
    width: 400px;
  }

  .secciones__delivery--grilla {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    min-height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3.secciones__delivery--zona {
    font-size: 1em;
    margin: 20px 0px;
  }

  .barraInicio li {
    border-right: 1px solid black;
  }

  .nombreEncabezados {
    display: flex;
    justify-content: center;
    margin: 30px 0px 20px 0px;
  }

  h2 {
    text-align: center;
  }

  .cajaVideo {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .secciones__productos--grilla {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin: 0px 20px;
  }

  .secciones__quienesSomos--cajaVideo--video {
    width: 400px;
  }

  .nav-link {
    font-weight: bold;
    border-right: none;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.24rem;
    padding-left: 0.2rem;
  }
}
@media screen and (min-width: 993px) {
  .encabezado {
    justify-content: flex-start;
  }

  .secciones__contacto--alineacion,
.secciones__quienesSomos--alineacion,
.secciones__productos--alineacion,
.secciones__delivery--alineacion {
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.24rem;
    padding-left: 0.2rem;
  }

  .nav-link {
    font-weight: bold;
    border-right: 1px solid black;
  }

  .secciones__productos--grilla {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }

  .barraInicio li a {
    text-align: center;
  }

  .cajaVideo {
    display: flex;
    justify-content: center;
  }

  .nombreEncabezados {
    justify-content: flex-start;
    margin: 30px 0px 20px 0px;
  }

  .secciones__quienesSomos--titulo-secundario {
    text-align: left;
  }

  .secciones__quienesSomos--cajaVideo--video {
    width: 400px;
  }

  .secciones__productos {
    margin-bottom: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
